/*  Global Styling */
*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background-color: #eee;
    background-image: url('../images/moon.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
}

/*  Toggle Tools Button */
button.toggle-tools{
    position: absolute;
    left: 0;
    top: 20px;
    padding: 10px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}
button.toggle-tools img{
    width: 35px;
}

/*  Tools */
div.tools{
    position: absolute;
    left: -100%;
    top: 10px;
    background-color: #2c3e50;
    transition: .5s;
    border-radius: 0 5px 5px 0;
    overflow: hidden
}
div.tools.open{
    left: 0;
}

div.tools button{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #eee;
    padding: 30px 20px;
    display: block;
    width: 100%;
    color: #fff;
    font-size: 30px;
    line-height: 1;
    cursor: pointer;
    transition: .1s;
    outline: 0;
}
div.tools button:hover img{
    transform: scale(2);
}
div.tools button:last-child{
    border: none;
}
div.tools button img{
    transition: .1s;
    width: 20px
}